/* Changing the font and the space for the first ul list */
*
{
	padding: 0;
	margin: 0;
	font-family: Ariel;
	font-weight: bold;
	font-size: x-large;
}

/* Styling and formatting for the about us section */
.about-section
{
	Border: 2px solid white;
	border-radius: 10px;
	padding: 20px;
	width: 1000px;
	margin: 0 auto;
	background-color: #FF6B6B;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Styling and formatting for the images section */
.images-section
{
	Border: 2px solid white;
	border-radius: 10px;
	padding: 15px;
	padding-bottom: 40px;
	width: 1000px;
	margin: 0 auto;
	background-color: black;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}